/* 
** style.css
** Stylesheet for www.206tutoring.com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2015
*/

/* TODO:
**  Zooming in causes header text to bleed out of section. Because header section is set to stagnant height at the moment.
**
**
*/

/* BLOKK font for templating */
@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot');
    src: url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff'),
         url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL HTML Element styling
================================================== */
/* Typography */
html { 
  background-color: #F5F5F5;
  font-size: 				16px;
  font-family: 			Sans-Serif, Helvetica, Arial, "Open Sans";
}
html, body {
	height: 	 100%;
  font-size: 75%;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {font-weight: 600; margin-bottom: 10px;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.125em;}
h4 {font-size: 1em;} /* Same size as paragraph */
h5 {font-size: .875em;}
h6 {font-size: .75em;}
p {
  font-family: "BLOKKNeue-Regular", Sans-Serif; /* change font to something normal */
	font-size: 		1em;
  line-height: 	1.375em;
  margin-bottom: 25px;
}

/* Links
================================================== */
a,
a:link,
a:visited,
a:active,
a:hover {
  color: 	#167CEF; /* blue */
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition:    all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
a:hover {
  color: #FB8A2A; /* orange */
}
/* NAVIGATION
================================================== */
nav {
	color: white;
	position: relative;
  top: 0;
	z-index: 1050;
}
/* will probably turn this to img */
#nav_logo {
	font-size: 2em;
	color: 		 white;
}
nav li {
  font-size: 1.25em;
  display: inline;
  padding: 0 15px;
}
a.nav_link {color: white; font-weight: bold;}
a.nav_link:hover {color: #FB8A2A;} /* orange */

/* SECTIONS
================================================== */
section, header {padding: 25px 0;}
header {height: 300px;  background-color: #969696;} /* same as .slick-slider */
#header_text {margin: 50px 0;}
#header_text h1 {font-size: 4em;}
#header_text h2 {font-size: 3em; font-weight: 100;}
#header_text a {margin: 20px 0;}
#front_quote {
	text-align: center;
}
.quote_block {
	display: 	inline-block;
	width: 		30%;
}
#front_about {background-color: white;}
.portrait {
	width: 	100px;
	height: 100px;
}
.about_block {width: 45%;}
#services ul {margin: 5px;}
#services li {display: inline-block; padding: 0 5px;}
/* FOOTER
================================================== */
footer {
	background-color: #040404;
	color: 						white;
}
/* BUTTONS
================================================== */
a.btn_orange,
.btn_orange	 {
	padding: 5px 15px;
	color: white;
	background-color: #FB8A2A; /* orange */
	display: inline-block;
  padding: 8px 30px;
  margin: 5px 0px;
  text-shadow: none;
  color: #FFFFFF;
  font-size: 1em !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0.3);
      -ms-box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0.3);
       -o-box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0.3);
          box-shadow: 0px 2px 2px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0.3);
}
a.btn_orange:hover,
.btn_orange:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 1px rgba(255,255,255,1);
     -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 1px rgba(255,255,255,1);
      -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 1px rgba(255,255,255,1);
       -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 1px rgba(255,255,255,1);
          box-shadow: 0px 0px 10px rgba(255,255,255,0.5), 0px 0px 1px rgba(255,255,255,1);
}
/* SLICK SLIDER
================================================== */
.a-slide{
  height: 100%;
  width: 	100%;
  background-size: cover !important;
}
.slick-slider{
  height: 300px;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick_absolute {position: absolute; z-index: 1; top:0; left:0; right: 0;}
.slick-prev, .slick-next {z-index: 1051!important;}

/* GRID SYSTEM
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 1080px;
  margin: 0px auto;
}
/* row that takes full width of page */
.full_row {
  zoom:   1;
  width:  100%;
  padding: 0 2%;
  margin: 0px auto;
}
/* Row clearing
------------------------- */
.row:before, .full_row:before {
  content: "";
  display: table;
}
.row:after, .full_row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
.full_width,
.half_width,
.third_width,
.quarter_width,
.fifth_width {
  float: left;
  padding: 5px 5%;
  margin: 0;
  overflow: hidden;
}
/* descriptor for column */
.push   {float: right;}
.pull   {float: left;}
.first  {clear: both;}
.last   {float: none; width: auto;}


/* MEDIA QUERIES 
========================= */
/* Mobile first. Using relative units */
/*28.75em*/
@media screen and (min-width: 0em) and (max-width: 40.4em){
  .full_width,
  .half_width,
  .third_width,
  .quarter_width,
  .fifth_width    {width: 100%;}
}
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .full_width     {width: 100%;}
  .half_width,
  .third_width,
  .quarter_width,
  .fifth_width    {width: 50%;}
  /* because two units per line center the odd man out */
  .last.third_width {clear:both; width:50%; margin: 0 auto;}
}
@media screen and (min-width: 64em){
  .full_width     {width: 100%;}
  .half_width     {width: 50%;}
  .third_width    {width: 33.333%;}
  .quarter_width  {width: 25%;}
  .fifth_width    {width: 20%;}
  .last.third_width {clear:none; width: 33.333%;}

}
/* This doesnt do anything at the moment */
/*
@media screen and (min-width: 80em){
  .full_width     {width: 100%;}
  .half_width     {width: 50%;}
  .third_width    {width: 33.333%;}
  .quarter_width  {width: 25%;}
  .fifth_width    {width: 20%;}
  .last.third_width {clear:none; width: 33.333%;}
  #mobile_nav {display: none;}
  #nav {display: block;}
}
*/
/* GENERAL STYLE
========================= */
/* Typography */
.uppercase 	{text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.bold 			{font-weight: bold;}
.italic 		{font-style: italic;}
.underline 	{text-decoration: underline;}
.justify 		{text-align: justify;}
.white      {color: #FFF;}
.black      {color: #000;}
/* Display */
.block 				{display: block;}
.inline 			{display: inline;}
.inline_block {display: inline-block;}

/* Position*/
.static 	{position: static;}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed 		{position: fixed;}
/* Alignment */
.center_align {text-align: center;}
.center_block {margin: 0px auto;}
