/* --------------------------------------------------
** style.css
** Stylesheet for www.206tutoring.com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2015
** -------------------------------------------------- */

/* TODO:
--------------------------------------------------
**
**  Zooming in causes header text to bleed out of section. Because header section is set to stagnant height at the moment.
**
-------------------------------------------------- */

/* BLOKK font for templating */
@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot');
    src: url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff'),
         url('file:///Users/james/Documents/Web/BLOKK_BLOKKNeue/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* $HTML ELEMENTS
================================================== */
/* Typography
------------------------- */
html { 
  background-color: #F5F5F5;
  font-size: 				16px;
  font-family: 			Sans-Serif, Helvetica, Arial, "Open Sans";
}
html, body {
	height: 	 100%;
  font-size: 75%;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {font-weight: 600; margin-bottom: 10px;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.125em;}
h4 {font-size: 1em;} /* Same size as paragraph */
h5 {font-size: .875em;}
h6 {font-size: .75em;}
p, blockquote {
  font-family: Sans-Serif; /* change font to something normal */
	font-size: 		1em;
  line-height: 	1.375em;
  margin-bottom: 25px;
}
/* Links
------------------------- */
a,
a:link,
a:visited,
a:active,
a:hover {
  color: 	#167CEF; /* blue */
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition:    all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
a:hover {
  color: #FB8A2A; /* orange */
}
/* $NAVIGATION
================================================== */
nav {}
/* will probably turn this to img */
.nav-logo {
  display:   inline-block;
	font-size: 2em;
	color: 		 white;
}
nav li {
  font-size: 1.25em;
  display: inline;
  padding: 0 15px;
}
a.nav-link {color: white; font-weight: bold;}
a.nav-link:hover {color: #FB8A2A;} /* orange */

/* $SECTIONS
================================================== */
main, header, section, footer {padding: 25px 0;}
header {
  position: relative;
  top: 0;
  color: white;
  background-color: #969696;
  z-index: 1050;
}
.welcome {background: url(https://siobhancurious.files.wordpress.com/2011/09/try.jpg) no-repeat center center fixed;}
.header-text {margin: 50px 0;}
.header-text h1 {font-size: 4em;}
.header-text h2 {font-size: 3em; font-weight: 100;}
.header-text a {margin: 20px 0;}
.main-quote {
	text-align: center;
}
.quote-block {
	display: 	inline-block;
	width: 		30%;
}
.front-about {background-color: white;}
.smta-img {width: 150px; height: 40px;}
.portrait {
	width: 	100px;
	height: 100px;
}
.about-block {width: 45%;}
.services ul {margin: 5px;}
.services li {display: inline-block; padding: 0 5px;}
/* Footer
------------------------- */
footer {
	background-color: #040404;
	color: 						white;
}
/* $BUTTONS
================================================== */
a.btn-orange,
.btn-orange	 {
	padding: 5px 15px;
	color: white;
	background-color: #FB8A2A; /* orange */
	display: inline-block;
  padding: 8px 30px;
  margin: 5px 0;
  color: #FFFFFF;
  font-size: 1em !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
      -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
       -o-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
          box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
}
a.btn-orange:hover,
.btn-orange:hover {
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
     -moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
      -ms-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
       -o-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
          box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
}
/* $GRID
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 1080px;
  margin: 0 auto;
}
/* row that takes full width of page */
.full-row {
  zoom:   1;
  width:  100%;
  margin: 0 auto;
}
/* Row Clearing
------------------------- */
.row:before, .full-row:before {
  content: "";
  display: table;
}
.row:after, .full-row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.pull, /* float a single object LEFT */
.one-sixth,
.one-fifth,
.one-fourth,
.one-third,
.two-sixths,
.two-fifths,
.one-half,
.two-fourths,
.three-sixths,  
.three-fifths,  
.two-thirds,
.four-sixths,   
.three-fourths, 
.four-fifths,   
.five-sixths {
  float: left;
  margin-left: 4.1666666666667%;
}
.push {float: right;} /* float a single object RIGHT */
.full-row .push {margin-right:  4.1666666666667%;}

.one-sixth     {width: 13.194444444444%;}
.one-fifth     {width: 16.666666666667%;}
.one-fourth    {width: 21.875%;}
.one-third,
.two-sixths    {width: 30.555555555556%;}
.two-fifths    {width: 37.5%;}
.one-half,
.two-fourths,
.three-sixths  {width: 47.916666666667%;}
.three-fifths  {width: 58.333333333333%;}
.two-thirds,
.four-sixths   {width: 65.277777777778%;}
.three-fourths {width: 73.958333333333%;}
.four-fifths   {width: 79.166666666667%;}
.five-sixths   {width: 82.638888888889%;} 
.first {
  clear: both;
  margin-left: 0;
}

/* $MEDIA QUERIES 
========================= */
/* Mobile first. Using relative units */
/*28.75em*/
@media screen and (min-width: 0) and (max-width: 40.4em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths,  
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths {
    margin: 0;
    width: 100%
  }
}
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,`
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths {width: 47.916666666667%;}
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths  {width: 100%}

  /* 50% width causes two units per line so center the last odd unit */
  .last.third-width, .last.fifth-width {clear:both; width:50%; margin: 0 auto;}
}
@media screen and (min-width: 64em){

  .last.third-width {clear:none; width: 33.333%;}
  .last.fifth-width {clear:none; width: 20%;}
}

/* $GENERAL
========================= */
/* Text */
.bold       {font-weight: bold;}
.italic     {font-style: italic;}
.uppercase 	{text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.underline 	{text-decoration: underline;}
.justify 		{text-align: justify;}
.white      {color: #FFF;}
.black      {color: #000;}
/* Display */
.block 				{display: block;}
.inline 			{display: inline;}
.inline-block {display: inline-block;}
/* Position*/
.static 	{position: static;}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed 		{position: fixed;}
/* Alignment */
.center-align {text-align: center;}
.center-block {margin: 0 auto;}